[submodule "lib/Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = https://github.com/gemsiot/Adafruit_BusIO.git
[submodule "lib/Adafruit_SHT4X"]
	path = lib/Adafruit_SHT4X
	url = https://github.com/gemsiot/Adafruit_SHT4X.git
[submodule "lib/PAC1932"]
	path = lib/PAC1932
	url = https://github.com/bschulz1701/PAC1932_Library.git
[submodule "lib/PCAL9535A"]
	path = lib/PCAL9535A
	url = https://github.com/gemsiot/PCAL9535A_Library.git
[submodule "lib/Adafruit_Sensor"]
	path = lib/Adafruit_Sensor
	url = https://github.com/gemsiot/Adafruit_Sensor.git
